In [8]:
#Import librqary
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
buyer_ratio = pd.read_csv("C:/Users/Saroj Kumar Mohanty/OneDrive/Desktop/exclR assignments/Assignment/3 Hypothesis test/BuyerRatio.csv")

In [3]:
buyer_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
buyer_ratio.shape

(2, 5)

In [5]:
male= pd.Series(buyer_ratio.iloc[0,1:])
male

East      50
West     142
North    131
South     70
Name: 0, dtype: object

In [6]:
female= pd.Series(buyer_ratio.iloc[1,1:])
female

East      435
West     1523
North    1356
South     750
Name: 1, dtype: object

H0=All partition are equal H1=All partition are not equal

In [9]:
#Pvalue test
stats.ttest_ind(male,female)

Ttest_indResult(statistic=-3.5844638979607404, pvalue=0.011580726207478622)

In [10]:
Pvalue=stats.ttest_ind(male,female)[1]
Pvalue
if Pvalue>0.05:
    print(f'{Pvalue} is greater than Alpha,Reject Null Hypo ')
else:
    print("Accept Alternate Hypothesis ")

Accept Alternate Hypothesis